*, *::after, *::before{
    margin: 0;
    padding: 0;
  }
  
  html{
    font-size: 62,5%;
  }
  
  :root{
    --dark-green: #00743A;
    --dark-red: #C31024;
    --platinum: #F2F2F2;
    --iron: #c4c4c4;
    --night: #1A2F34;
    --black: #000000;
  }
  
  body{
    font-size: 2rem;
    background-color: var(--night);
  }
  
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 2.4rem;
  }
  
  nav{
    position: fixed;
    width: 100%;
    color: var(--platinum);
    background-color: var(--black);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-size: 20px;
  }
  
  .navbar li{
    list-style: none;
  }
  
  .navbar{
    display: flex;
    justify-content: space-around;
    width: 40%;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
  }
  
  #radio_player{
    right: 0;
    top: 0;
    overflow: hidden;
    opacity: 40%;
    height: 4rem;
    width: 4rem;
    position: fixed;
  }
  #radio_player_iframe{
    z-index: 1;
  }

  #radio_player_fig{
    top: 0;
    right: 0;
    height: 4rem;
    width: 4rem;
    position: fixed;
    pointer-events: none;
  }
  #radio_player_fig img{
    height: 100%;
    width: 100%;
    
  }

  section{
    color: var(--iron);
    height: 100vh;
    border-bottom: 0.5rem solid var(--platinum);
    background-color: var(--night);
    overflow: hidden;
  }
  
  .section_main-intro{
    height: 108vh;
  }

  .section_map{

  }

  .section_map figure img{
    width: 100%;
  }
  .section_map figure{
    width: 100%;
    overflow: scroll;
  }
  .pin{
    top: 50%;
    left: 50%;
    height: 3rem;
    width: 3rem;
    z-index: 1;
  }

  .section_streetview{
    
  }

  /*popup styling*/
    .popup{
        border-radius: 10px 10px 0px 0px;
        background-color: var(--black);
        bottom: 0;
        position: fixed;
        color: var(--platinum);
    }

    #popupModal{
      display: none;
    }

    .popup_title > h2{
        display: inline-block;
    }

    .popup_title{
        border-radius: 10px 10px 0px 0px;
        background-color: var(--night);
        width: 100vw;
    }

    .close_popup{
        float: right;
    }

  /*modal styling */
  #mapModal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    overflow: auto;
    animation-name: openwidth;
    animation-duration: 0.22s;
  }
  
  @keyframes openwidth {
    from {
      transform: translateX(50vw) translateY(50vh);
      border-radius: 1000px;
      height: 0vw;
      width: 0vw;
    }
    to {
      height: 100vh;
      width: 100vw;
    }
  }

  .modal-content {
    background-color: #1A2F34;
    margin: auto;
    height: 100vh;
  }

  .now_button {
    height: 8vh;
    width: 100vw;
  }

  .close_modal {
    color: #aaaaaa;
    float: right;
    font-size: 48px;
    height: 8vh;
    font-weight: bold;
  }
  
  .close_modal:hover,
  .close_modal:focus {
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
  }