*, *::after, *::before{
    margin: 0;
    padding: 0;
  }

  html{
    font-size: 62,5%;
    font-family: 'Roboto', sans-serif;
  }
  
  :root{
    --dark-green: #00743A;
    --dark-red: #C31024;
    --platinum: #F2F2F2;
    --night: #1A2F34;
    --black: #000000;
  }
  
  body{
    font-size: 1rem;
    background-color: var(--night);
    color: var(--platinum);
  }
  
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

  h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 5%);
    font-size: 2em;
    color: var(--platinum);
    z-index: 2;
  }

  h2{
    font-size: 1.5rem;
  }
  
  .h2_padding{
    padding-left: 10vw;
    padding-right: 10vw;
  }

  nav{
    position: fixed;
    width: 100%;
    color: var(--platinum);
    background-color: var(--black);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-size: 20px;
    z-index: 10;
  }
  
  .navbar li{
    list-style: none;
  }
  
  .navbar{
    display: flex;
    justify-content: space-around;
    width: 40%;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
  }
  
  #radio_player{
    right: 1vh;
    top: 1vh;
    overflow: hidden;
    height: 6vh;
    width: 6vh;
    position: fixed;
    border-radius: 50%;
  }
  #radio_player_iframe{
    z-index: 1;
    position: relative;
    top:-20px;
    left: -20px;
    opacity: 1%;
  }

  #radio_player_fig{
    height: 6vh;
    width: 6vh;
    right: 1vh;
    top: 1vh;
    position: fixed;
    pointer-events: none;
  }
  #radio_player_fig img{
    height: 100%;
    width: 100%;
  }

  @keyframes rotate360{
    100% {transform: rotate(360deg);}
  }

  .section{
    color: var(--platinum);
    height: 92vh;
    background-color: var(--night);
    overflow: hidden;
  }

  .banner{
    width: 100vw;
    height: 100%;
    object-fit: cover;
    
  }

  .haron{
    position: absolute;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    animation-delay: 1s;
    animation-name: fadeHaron;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
  }

  .overlay{
    position: absolute;
    background-color: var(--black);
    width: 100%;
    height: 100%;
    animation-name: fade;
    z-index: 1;
    animation-delay: 1.5s;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }

  @keyframes fade {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.3;
    }
  }

  @keyframes fadeHaron {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .section_main-intro{
    position: relative;
    text-align: center;
    display: flex;
    
  }

  /*verticaal scrollen styling*/
  .vertical-section{
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .vertical-main {
    overflow-x: hidden;
    display: flex;
    position: sticky;
    top:0;
  }
  .vertical {
    min-width: 100vw;
    min-height: 92vh;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4ch;
  }

  .vertical:nth-child(odd) {
    background-color: teal;
    color: var(--platinum);
  }
  
  .story_img{
    max-width: 100vw;
    max-height: 92vh;
  }
  
  .section_main-intro{
    height: 108vh;
  }

  .section_map > figure{
    width: 100%;
    position: relative;
  }
  .pin{
    position: absolute;
    height: 3rem;
    width: 3rem;
    z-index: 3;
    display: none;
    transition-duration: 0.2s;
  }
.pin:hover{
  cursor: pointer;
  transform: translateY(-0.5rem);
  transition-duration: 0.2s;
}

/* @keyframes pin_up_down{
  from{
    transform: translateY();
  }
  to{
    transform: translateY(1rem);
  }
} */

  .pin:nth-child(2){
    top: 63%;
    left: 20%;
  }
  .pin:nth-child(3){
    top: 61%;
    left: 39.4%;
  }
  .pin:nth-child(4){
    top: 50%;
    left: 45%;
  }
  .pin:nth-child(5){
    top: 57%;
    left: 60.5%;
  }
    .pin:nth-child(6){
      top: 34%;
      left: 52.5%;
    }

  #pin1{
    display: block;
  }

  /*popup styling*/
    .popup{
        border-radius: 10px 10px 0px 0px;
        background-color: var(--black);
        bottom: 0;
        position: fixed;
        color: var(--platinum);
        z-index: 10000;
    }

    #popupContent{
      padding: 10px;
    }

    #popupModal{
      display: none;
    }

    .popup_title > h2{
        display: inline-block;
        font-size: 2rem;
        margin-right: auto;
        
    }

    .popup_title{
      box-sizing: border-box;
      border-radius: 10px 10px 0px 0px;
      border-top: 2px solid #000000;
      border-right: 2px solid #000000;
      border-left: 2px solid #000000;
      background-color: var(--night);
      width: 100vw;
      height: 3rem;
      display: flex;
      justify-content: right;
      align-items: center;
      padding-left: 10px;
    }

    .mapBtn{
      height: 100%;
      border: none;
      color: var(--platinum);
      background-color: #1a2f34;
      font-size: 2rem;
      border-right: 2px solid #000000;
      border-left: 2px solid #000000;
      padding-left: 3px;
      padding-right: 3px;
    }

    .close_popup{
      margin-right: 10px;
      margin-left: 10px;
      font-size: 2rem;
    }

    #iframe_img_container{
      height: 84%;
    }

  /*modal styling */
  #mapModal {
    z-index: 1000000;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    overflow: auto;
    animation-name: openwidth;
    animation-duration: 0.22s;
  }
  
  @keyframes openwidth {
    from {
      transform: translateX(50vw) translateY(50vh);
      border-radius: 1000px;
      height: 0vw;
      width: 0vw;
    }
    to {
      height: 100vh;
      width: 100vw;
    }
  }

  .modal_top{
    width: 100%;
    height: 8vh;
    background-color: var(--night);
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .modal-content {
    background-color: var(--platinum); /* om een of andere rede gaat de ruimte tussen de iframe en de knop niet weg, dit moet dus dezelfde kleur als de knop */
    margin: auto;
    height: 100vh;
    overflow: hidden;
  }

  .now_button {
    transform: translateY(-5px);
    height: 7.2vh;
    width: 100%;
    background-color: var(--platinum); /* FIXME hier nog ff een mooie knop van maken */
    border-style: none;
  }

  .close_modal {
    color: #aaaaaa;
    font-size: 8vh;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .close_modal:hover,
  .close_modal:focus {
    color: var(--platinum);
    text-decoration: none;
    cursor: pointer;
  }

  .section_outro{
    transform: translateY(50%);
    justify-content: center;
    text-align: center;
  }

  .section_outro a{
    color: var(--platinum);
  }

  @media screen and (min-width: 1500px) {
    body{
      font-size: 2rem;
    }

    h2{
      font-size: 2.4rem;
    }
  }